// Here you can add other styles
.card-header {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.flex-card_container {
	margin: 1rem -1.25rem;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: auto;
	background-color: #e4e5e6;
}

.prd-card {
	margin: 0.5rem;
	border: 1px solid #c8ced3;
	border-radius: 3px;
	background-color: #f0f3f5;

	& .thumb {
		padding: 0.5rem;
		padding-left: 1rem;
		width: 7.5rem;
		height: auto;
	}

	& .content {
		padding: 0.5rem;
		padding-right: 1rem;
	}
}

.row {
	margin: 0;
}
