// Here you can add other styles
.card-header {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.flex-card_container {
	margin: 1rem -1.25rem;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: auto;
	background-color: #e4e5e6;
}
